<a href="https://colab.research.google.com/github/nainamohammed06012005/Digital_portfolio/blob/main/Data%20type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Integer
age = 25
print("Age:", age, "| Type:", type(age))

# Float
price = 19.99
print("Price:", price, "| Type:", type(price))

# String
name = "Alice"
print("Name:", name, "| Type:", type(name))

# Boolean
is_student = True
print("Is Student:", is_student, "| Type:", type(is_student))

# List
fruits = ["apple", "banana", "cherry"]
print("Fruits:", fruits, "| Type:", type(fruits))

# Tuple
coordinates = (10.0, 20.0)
print("Coordinates:", coordinates, "| Type:", type(coordinates))

# Dictionary
person = {"name": "Bob", "age": 30}
print("Person:", person, "| Type:", type(person))

# Set
unique_numbers = {1, 2, 3, 3, 4}
print("Unique Numbers:", unique_numbers, "| Type:", type(unique_numbers))

# NoneType
nothing = None
print("Nothing:", nothing, "| Type:", type(nothing))

Age: 25 | Type: <class 'int'>
Price: 19.99 | Type: <class 'float'>
Name: Alice | Type: <class 'str'>
Is Student: True | Type: <class 'bool'>
Fruits: ['apple', 'banana', 'cherry'] | Type: <class 'list'>
Coordinates: (10.0, 20.0) | Type: <class 'tuple'>
Person: {'name': 'Bob', 'age': 30} | Type: <class 'dict'>
Unique Numbers: {1, 2, 3, 4} | Type: <class 'set'>
Nothing: None | Type: <class 'NoneType'>